template
build
.secrets

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Node / React
front/node_modules/
front/build/

# Logs & temp files
*.log
*.tmp
tmp.json
auth.json

# IDE / Editor configs
.vscode/
.idea/

# OS files
.DS_Store

# Coverage
htmlcov/
.coverage
