/* General styles */
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 65px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  position: sticky; /* Rend la barre fixe */
  top: 0; /* Assure que cela reste collé en haut de la page */
  z-index: 1000; /* Assure que la barre reste devant  d'autreséléments  */
  overflow-y: auto;
}

.header-title {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 50px;
  height: 50px;
  object-fit: cover; /* Pour que le logo reste proportionnel */
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.icon-button {
  background-color: #c3d8da;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.icon-button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-button svg {
  color: #555;
}

.new-application-box {
  background: linear-gradient(90deg, #7a9da5 0%, #9bc2c9 50%, #7a9da5 100%);
  height: 150px;
  overflow-y: auto;
}

.searching-box {
  background-color: #1d3557;
  height: 75px;
  display: flex; /* Permet le centrage vertical */
  align-items: center; /* Centré verticalement */
}

.input-searching {
  height: 40px;
  width: 40%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 50px; /* Coins arrondis */
  padding: 0 10px; /* Intérieur du champ */
  margin: 0% 1% 0 26%;
  font-size: larger;
}

.applications-filtre {
  height: 40px;
  width: 7%;
  background-color: #f1faee;
  border-radius: 50px;
  display: flex; /* Active le flexbox */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center; /* Assure que le texte reste centré */
  overflow: hidden; /* Évite le dépassement du texte */
  white-space: nowrap; /* Empêche le texte de se couper en plusieurs lignes */
  font-size: 130%;
}

.boxes {
  display: flex;
}

.applications {
  height: calc(97.5vh - 75px - 150px - 65px);
  overflow-y: auto;
  width: 75%;
  margin: 0% 0% 0% 0%;
  background-color: #F9F9F9;

  /* Dégradé moderne et subtil, inversé de droite à gauche 
  background: linear-gradient(-45deg, #f0e6d2, #d8c7af); /* Inversé, allant de droite à gauche 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Ombre subtile pour une profondeur élégante 
  backdrop-filter: blur(8px); /* Flou légèrement plus prononcé pour un effet premium 
  -webkit-backdrop-filter: blur(8px); /* Compatibilité Safari 
  padding-bottom: 0.5vh;

  /* Bordure en bas avec dégradé correspondant au fond 
  border-bottom: 2vh solid transparent;
  background-clip: padding-box, border-box;
  border-image: linear-gradient(-45deg, #f0e6d2, #d8c7af) 1;
  border-image-slice: 1;*/
}
                                       
.application-section {
  list-style: none;
  padding: 0;
  margin: 0;
}

.application-content {
  display: flex;
  margin: 5% 5% 0% 5%;
  width: 90%;
}

.application {
  height: 120px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 1px 2px; /* Ombre subtile pour une profondeur élégante */
}

/* Cv.css */
.cv-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.cv-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  margin-top: 110px;
  margin-bottom: 45px;
}

.application-infos,
.application-details,
.application-status {
  padding: 5px 10px; /* Espacement interne */
  border-radius: 15px; /* Bordures arrondies */
  display: flex; /* Active le flexbox */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center; /* Assure que le texte reste centré */
  overflow: hidden; /* Évite le dépassement du texte */
  white-space: nowrap; /* Empêche le texte de se couper en plusieurs lignes */
  color: white; /* Couleur du texte */
}

.application-infos {
  background-color: #e4dede;
  margin: 1.5% auto 1.5% 1.5%; /* Marges */
  width: 80%; /* Largeur du conteneur */
  color: black;
}

.application-details {
  background-color: #a3a1a1;
  margin: 1.5% 0% 1.5% 1%; /* Marges */
  width: 7%; /* Largeur du conteneur */
}

.application-status {
  margin: 1.5% 1.5% 1.5% 1%; /* Marges */
  width: 6%; /* Largeur du conteneur */
  border-radius: 50%;
}

.application-update,
.application-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddddd8;
  height: 100px;
  width: 4%;
  border-radius: 25px;
  margin-top: 2%;
  margin-right: 2%;
  cursor: pointer; /* Rend le div cliquable */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.application:hover {
  background-color: #1d3557; /* Couleur au survol */
  transform: scale(1.02); /* Agrandir légèrement au survol */
}

.application:active {
  transform: scale(0.95); /* Rétrécir légèrement au clic */
}

.application-update::before {
  content: "✏️"; /* Emoji pour modification */
  font-size: 20px;
}

.application-delete::before {
  content: "🗑️"; /* Emoji pour suppression */
  font-size: 20px;
}

.left-box {
  width: 30%;
  height: calc(97.5vh - 75px - 150px - 65px);
  overflow-y: auto;
  background: linear-gradient(145deg, #b0bec5, #cfd8dc); /* Gradient légèrement foncé */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Ombre un peu plus prononcée */
  backdrop-filter: blur(6px); /* Effet de flou (optionnel) */
}

.right-box {
  display: flex;
  flex-direction: column; /* Organise les enfants verticalement */
  align-items: center;
  height: calc(100vh - 75px - 150px - 65px); /* Hauteur de la fenêtre moins les sections au-dessus */
  overflow-y: auto; /* Permet le défilement vertical */
  width: 30%;
  background: linear-gradient(145deg, #b0bec5, #cfd8dc); /* Gradient légèrement foncé */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Ombre un peu plus prononcée */
  backdrop-filter: blur(6px); /* Effet de flou (optionnel) */
}

/* Boîtes */
.statistic-box,
.calendar-box {
  width: 90%; /* Largeur relative */
  max-width: 400px; /* Largeur maximale */
  min-width: 50px; /* Largeur minimale */
  height: 40%; /* Hauteur fixe */
  background-color: #f0f0f0; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre */
  display: flex; /* Flexbox pour le contenu */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
  box-sizing: border-box; /* Inclut padding et bordures */
}

.statistic-box {
  margin: 5% 0% 5% 0%;
}

.calendar-box {
  margin: 5% 0% 5% 0%;
  overflow: hidden;
  }

  .calendar {
    height: 100%;
  }